<section>
    <div>
        <h4>{{post.title}}</h4>
        <h4>{{user.name}}</h4>
        <h5>{{post.body}}</h5>
        <h4>{{comment.body}}</h4>
    </div>
</section>

<script src="/js/comment.js"></script>